<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body background = "assets/123.jpg">
	
<%= yield %>
<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade bs-example-modal-sm" id="myModalPublish" role="dialog" tabindex="-1">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog modal-sm vertical-align-center">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">
            <i class="fa fa-clock-o"></i> Please Wait
          </h4>
        </div>
        <div class="modal-body">
          <p>
            We are working on your request. It will take couple of minutes.<br /><br />
            <div class="spinner">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
